._fa {
	margin-right: 0.16em;
	font-size: 85%;
}
._fa-reset-m {
	margin-right: 0;
}
._fa-bigger {
	font-size: 120%;
}
._fa-small {
	font-size: 60%;
}
._fa-top-left {
	position: absolute;
	top: -4px;
	left: 4px;
}

._inline-block {
	display: inline-block !important;
}

._a-clear {
	color: inherit !important;
	text-decoration: none !important;
	&:hover, &:active, &:focus {
		color: inherit !important;
		text-decoration: none !important;
	}
}

._fw-clear {
	font-weight: 400 !important;
}

._lh1 {
	line-height: 1 !important;
}

._relative {
	position: relative;
}

/*._a-main {
	color: $col_primary !important;
	text-decoration: none !important;
	&:hover, &:active, &:focus {
		color: lighten($col_primary, 18%) !important;
		text-decoration: underline !important;
	}
}*/

._margin-auto {
	margin: auto !important;
}
._margin-center-horiz {
	margin: 0 auto !important;
}
._margin-t-0 {
	@include marginSize(0px, t);
}
._margin-t-6 {
	@include marginSize(6px, t);
}
._margin-t-10 {
	@include marginSize(10px, t);
}
._margin-t-15 {
	@include marginSize(15px, t);
}
._margin-l-0 {
	@include marginSize(0px, l);
}
._margin-l-6 {
	@include marginSize(6px, l);
}
._margin-r-0 {
	@include marginSize(0px, r);
}
._margin-r-6 {
	@include marginSize(6px, r);
}
._margin-r-10 {
	@include marginSize(10px, r);
}
._margin-r-15 {
	@include marginSize(15px, r);
}
._margin-b-0 {
	@include marginSize(0px, b);
}
._margin-b-2 {
	@include marginSize(2px, b);
}
._margin-b-6 {
	@include marginSize(6px, b);
}
._margin-b-10 {
	@include marginSize(10px, b);
}
._margin-b-15 {
	@include marginSize(15px, b);
}

._bg-white {
	background: #fff;
	border: 1px solid #ddd;
	color: #333;
}