@import 'variables';
@import 'mixins';
@import 'helpers';

body {
	line-height: 1.32;
}

.nav-tabs-custom>.nav-tabs>li.active {
	a {
		font-weight: 700;
	}
}

.nav-tabs-custom {
	&._tabs-slim {
		&._no-shadow {
			box-shadow: none;
		}
		.tab-content._full {
			padding-left: 0;
			padding-right: 0;
		}
		.nav {
			border-bottom: none;
			& > li {
				border: none;
				& > a {
					padding: 5px 10px;
				}
				&.active {
					& > a {
						background: $color_border;
					}
				}
			}
		}
	}
}

.nav-tabs-custom >.nav-tabs>li:first-of-type.active>a	

small {
	font-size: 82%;
}

.content {
	max-width: 1300px;
	margin-left: 0;
}

._navbar-inner {
	max-width: 1300px;
}

._flex {
	display: flex;
	._self-center {
		align-self: center;
	}
}

.label, .badge {
	padding: .24em .6em .28em;
}

._fw-700 {
	font-weight: 700 !important;
}

._block {
	display: block !important;
}

._callout-sm {
	padding: 9px 15px 9px 7px;
}

._callout-default {
	background: #fafafa;
}

._dotted-divider-r:after {
	content: "";
	position: absolute;
	top: 7%;
	bottom: 7%;
	right: 0;
	border-right: 2px dotted #ddd;
}

._table-v-middle {
	td, th {
		vertical-align: middle !important;
	}
}

._table-tiny-pad {
	td, th {
		padding: 5px !important;
	}
}

._colspan-row {
	th {
		text-transform: uppercase;
		color: #777;
		small {
			text-transform: initial;
		}
	}
}

._profile-pic-holder {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	img {
		object-fit: cover;
	    width: 80px;
	    height: 80px;
	    border: 0.22em solid #fff;
    	box-shadow: 0 0 0 0.14em rgba(#605ca8, 1);
	}
}

._section-title {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
}

._chart-title {
	font-weight: 400;
	font-size: 17px;
	text-transform: uppercase;
	margin: 0;
}

._sub-title {
	font-weight: 300;
	font-size: 22px;
	margin-bottom: 15px;
    &._secondary {
        font-size: 18px !important;
        text-transform: uppercase;
        color: #777;
    }
}
._sub-title._secondary {
    font-weight: 300;
	font-size: 22px;
	margin-bottom: 15px;
}

._charts-options-holder {
	margin-bottom: 15px;
	margin-top: 15px;
	& > div {

	}
}

._date-range-pickers {
	display: flex;
	align-items: center;
	margin-bottom: 0;
	.input-group {
		padding: 0;
		float: left;
		width: 120px;
		input {
			background: #f5f5f5;
			font-weight: 700;
		}
	}
	._pickers-divider {
		margin-left: 5px;
		margin-right: 5px;
	}
	._pickers-arrow-btn {
		background: none;
		border: none;
		line-height: 1;
		.fa {
			font-size: 16px;
			color: #444;
		}
	}
}

.box-body {
	padding-top: 15px;
}

.box-profile {
	h3 {
		margin-top: 10px;
	}
	._profile-pic-holder {
		margin-top: 5px;
	}
}

._box-clean {
	box-shadow: none;
}

._stats-box {
	.description-block {
		line-height: 1;
		.description-header {
			font-size: 20px;
			margin-bottom: 5px;
			._desc-extra {
				margin-top: -8px;
			}
			small {
				font-size: 50%;
			}
			
		}
	}
	a > div {
		&:hover {
			background: #fafafa;
		}
	}
}

._logs-timeline {
	.time {
		font-size: 13px !important;
	}
	.timeline-header {
		padding: 0 !important;
		display: flex;
		._item {
			align-self: center;
			float: left;
			padding: 10px;
			border-right: 1px solid $color_border;
			&._log-type {
				font-weight: 700;
				color: #000;
			}
			._log-value {
				font-size: 122%;
				font-weight: 700;
			}
		}
	}
}

._user-own-timeline {
	li {
		margin-right: 0;
	}
	.timeline-item {
		position: relative;
		margin-right: 0 !important;
		.timeline-header {
			padding: 8px 5px !important;
		}
		.time {
			padding: 0 0 0 5px !important;
			position: absolute;
			left: 0;
			top: -12px;
		}
		.timeline-body {
			padding: 8px 5px !important;
		}
		.timeline-footer {
			padding: 8px 5px !important;
		}
	}
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border: 1px solid #dfdfdf;
}

.table {
	th {
		background: #f3f3f3;
	}
}