._fa {
  margin-right: 0.16em;
  font-size: 85%;
}

._fa-reset-m {
  margin-right: 0;
}

._fa-bigger {
  font-size: 120%;
}

._fa-small {
  font-size: 60%;
}

._fa-top-left {
  position: absolute;
  top: -4px;
  left: 4px;
}

._inline-block {
  display: inline-block !important;
}

._a-clear {
  color: inherit !important;
  text-decoration: none !important;
}

._a-clear:hover, ._a-clear:active, ._a-clear:focus {
  color: inherit !important;
  text-decoration: none !important;
}

._fw-clear {
  font-weight: 400 !important;
}

._lh1 {
  line-height: 1 !important;
}

._relative {
  position: relative;
}

/*._a-main {
	color: $col_primary !important;
	text-decoration: none !important;
	&:hover, &:active, &:focus {
		color: lighten($col_primary, 18%) !important;
		text-decoration: underline !important;
	}
}*/
._margin-auto {
  margin: auto !important;
}

._margin-center-horiz {
  margin: 0 auto !important;
}

._margin-t-0 {
  margin-top: 0px !important;
}

._margin-t-6 {
  margin-top: 6px !important;
}

._margin-t-10 {
  margin-top: 10px !important;
}

._margin-t-15 {
  margin-top: 15px !important;
}

._margin-l-0 {
  margin-left: 0px !important;
}

._margin-l-6 {
  margin-left: 6px !important;
}

._margin-r-0 {
  margin-right: 0px !important;
}

._margin-r-6 {
  margin-right: 6px !important;
}

._margin-r-10 {
  margin-right: 10px !important;
}

._margin-r-15 {
  margin-right: 15px !important;
}

._margin-b-0 {
  margin-bottom: 0px !important;
}

._margin-b-2 {
  margin-bottom: 2px !important;
}

._margin-b-6 {
  margin-bottom: 6px !important;
}

._margin-b-10 {
  margin-bottom: 10px !important;
}

._margin-b-15 {
  margin-bottom: 15px !important;
}

._bg-white {
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
}

body {
  line-height: 1.32;
}

.nav-tabs-custom > .nav-tabs > li.active a {
  font-weight: 700;
}

.nav-tabs-custom._tabs-slim._no-shadow {
  box-shadow: none;
}

.nav-tabs-custom._tabs-slim .tab-content._full {
  padding-left: 0;
  padding-right: 0;
}

.nav-tabs-custom._tabs-slim .nav {
  border-bottom: none;
}

.nav-tabs-custom._tabs-slim .nav > li {
  border: none;
}

.nav-tabs-custom._tabs-slim .nav > li > a {
  padding: 5px 10px;
}

.nav-tabs-custom._tabs-slim .nav > li.active > a {
  background: #efefef;
}

.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a
small {
  font-size: 82%;
}

.content {
  max-width: 1300px;
  margin-left: 0;
}

._navbar-inner {
  max-width: 1300px;
}

._flex {
  display: -webkit-box;
  display: flex;
}

._flex ._self-center {
  -ms-grid-row-align: center;
  align-self: center;
}

.label, .badge {
  padding: .24em .6em .28em;
}

._fw-700 {
  font-weight: 700 !important;
}

._block {
  display: block !important;
}

._callout-sm {
  padding: 9px 15px 9px 7px;
}

._callout-default {
  background: #fafafa;
}

._dotted-divider-r:after {
  content: "";
  position: absolute;
  top: 7%;
  bottom: 7%;
  right: 0;
  border-right: 2px dotted #ddd;
}

._table-v-middle td, ._table-v-middle th {
  vertical-align: middle !important;
}

._table-tiny-pad td, ._table-tiny-pad th {
  padding: 5px !important;
}

._colspan-row th {
  text-transform: uppercase;
  color: #777;
}

._colspan-row th small {
  text-transform: initial;
}

._profile-pic-holder {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

._profile-pic-holder img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 80px;
  height: 80px;
  border: 0.22em solid #fff;
  box-shadow: 0 0 0 0.14em #605ca8;
}

._section-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

._chart-title {
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0;
}

._sub-title {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 15px;
}

._sub-title._secondary {
  font-size: 18px !important;
  text-transform: uppercase;
  color: #777;
}

._sub-title._secondary {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 15px;
}

._charts-options-holder {
  margin-bottom: 15px;
  margin-top: 15px;
}

._date-range-pickers {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0;
}

._date-range-pickers .input-group {
  padding: 0;
  float: left;
  width: 120px;
}

._date-range-pickers .input-group input {
  background: #f5f5f5;
  font-weight: 700;
}

._date-range-pickers ._pickers-divider {
  margin-left: 5px;
  margin-right: 5px;
}

._date-range-pickers ._pickers-arrow-btn {
  background: none;
  border: none;
  line-height: 1;
}

._date-range-pickers ._pickers-arrow-btn .fa {
  font-size: 16px;
  color: #444;
}

.box-body {
  padding-top: 15px;
}

.box-profile h3 {
  margin-top: 10px;
}

.box-profile ._profile-pic-holder {
  margin-top: 5px;
}

._box-clean {
  box-shadow: none;
}

._stats-box .description-block {
  line-height: 1;
}

._stats-box .description-block .description-header {
  font-size: 20px;
  margin-bottom: 5px;
}

._stats-box .description-block .description-header ._desc-extra {
  margin-top: -8px;
}

._stats-box .description-block .description-header small {
  font-size: 50%;
}

._stats-box a > div:hover {
  background: #fafafa;
}

._logs-timeline .time {
  font-size: 13px !important;
}

._logs-timeline .timeline-header {
  padding: 0 !important;
  display: -webkit-box;
  display: flex;
}

._logs-timeline .timeline-header ._item {
  -ms-grid-row-align: center;
  align-self: center;
  float: left;
  padding: 10px;
  border-right: 1px solid #efefef;
}

._logs-timeline .timeline-header ._item._log-type {
  font-weight: 700;
  color: #000;
}

._logs-timeline .timeline-header ._item ._log-value {
  font-size: 122%;
  font-weight: 700;
}

._user-own-timeline li {
  margin-right: 0;
}

._user-own-timeline .timeline-item {
  position: relative;
  margin-right: 0 !important;
}

._user-own-timeline .timeline-item .timeline-header {
  padding: 8px 5px !important;
}

._user-own-timeline .timeline-item .time {
  padding: 0 0 0 5px !important;
  position: absolute;
  left: 0;
  top: -12px;
}

._user-own-timeline .timeline-item .timeline-body {
  padding: 8px 5px !important;
}

._user-own-timeline .timeline-item .timeline-footer {
  padding: 8px 5px !important;
}

.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: 1px solid #dfdfdf;
}

.table th {
  background: #f3f3f3;
}

/*# sourceMappingURL=app_compiled.css.map */
